/* Common style */
*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.btn{
    color: white;
    background-color: red;
    padding: 13px 20px;
    border-radius: 3px;
    border: none;
}

/* nav style */
.navbar{
    background-color: #424141;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
    padding-left: 20px;
}

nav a{
    text-decoration: none;
    font-size: 26px;
    color: white;
}
nav a:hover{
    color: aqua;
}

/* banner style */
.banner-background{
    background-image:url(./images/background.png), linear-gradient(45deg, rgb(23, 22, 22), rgb(33, 29, 29));
    height: 100vh;

}
.banner-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.banner-content{
    width: 50%;
}
.banner-img{
    width: 50%;
    text-align: right;
}
.banner-img img{
    height: auto;
    max-width: 60%;
}
.banner-title{
    font-size: 54px;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}
.banner-text{
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
}
.top{
    margin: 30px;
}
.about-us-title{
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    padding-bottom: 50px;
}
.abt-h{
    padding-bottom: 15px;
    font-size: 1.5em;
}
.about-us-content p{
    font-size: 18px;
}
.about-us-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-us-img img{
    height: auto;
    max-width: 60%;
    }
.about-us-img{
    text-align: left;
    width: 50%;
    padding-left: 150px;
}
.about-us-content{
    width: 50%;
    padding-left: 120px;
    padding-bottom: 150px;

}
.about-us-btn{
    margin-top: 20px;
}

/* about us style */



/* services style */
.service-back{
    background-image:url(./images/background.png), linear-gradient(45deg, rgb(23, 22, 22), rgb(33, 29, 29));
    height: 80vh;
}
.services-title{
    font-size: 54px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.services-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.box img{
    height: 60px;
    padding: 10px;
}
.box{
    text-align: center;
    height: 270px;
    width: 200px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 4px 4px 105px gray;
    margin: 50px;
    padding: 5px 10px 50px 10px;
}
.box-title{
    padding-bottom: 10px;
    font-size: 1.5em;
}
.box-btn{
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin-top: 15px;
}

/* footer style */
.foot-back{
    background-color: black;
    height: 70vh;
}
.foot-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.foot-flex a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
}

























